
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e7e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 350px;
}

.horizontal-menu{
  margin: 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #222;
  padding: 10px;
    & li {
     width: 100%;
     text-align: center;

      & a {
        color: #fff;
        text-decoration: none;
      }
    }

    & li:first-child{
      border-right: 2px solid red;
    }
  
}